.flex {
    display: flex;
}
.item_center {
    display: flex;
    place-items: center;
}
.space_between {
    display: flex;
    justify-content: space-between;
}
.p-0 {
    padding: 0;
}

.header_row {
    background-color: black;
}

.logo_image {
    padding: 10px 0;
}
.page_header_row {
    border-bottom: 5px solid #ebebeb;
}
.page_header_text {
    color: gray;
    padding: 10px 0;
}
.content_col {
    background-color: #f6f6f6;
    padding: 2rem 0;
    margin: 2rem 0;
}
.package_stages {
    display: flex;
    justify-content: space-evenly;
}
.trans_pacific_stage, .inter_asia_stage_one,
.inter_asia_stage_two, .arrived_in_bangladesh {
    background-color: #b8b8b8;
    color: white;
    padding: 10px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 2px solid white;
}
.inter_asia_stage_one, .inter_asia_stage_two {
    border-radius: 0;
}
.arrived_in_bangladesh {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* .box {
    display:inline-block;
    padding:10px;
    margin-right:60px;
    border:1px solid;
    border-right:none;
    position:relative;
  }
  .box:before,
  .box:after{
    content:"";
    position:absolute;
    margin-left:-1px;
    top:-1px;
    left:100%;
    bottom:50%;
    width:30px;
    background:linear-gradient(to right,#000 28%,transparent 29%) 1px 0/25% 100%;
    transform:skewX(45deg);
    transform-origin:top;
  }
  .box:after {
    transform:skewX(-45deg);
    transform-origin:bottom;
    bottom:-1px;
    top:50%;
  } */

.package_stage_icons {
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    margin: 4rem 0;
}
.ship_icon, .plane_icon {
    font-size: 4em;
    color: gray;
}
.chevron_pack {
    display: flex;
    place-items: center;
    margin: 0 1rem;
    font-size: 1.5em;
    color:darkgray;
}
.chevron_pack .fas:nth-child(2){
    color: gray;
}
.bangladesh_image {
    width: 50px;
}
input {
    min-width: 350px;
    max-width: 40%;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.footer_row {
    background-color: #eeeeee;
    padding: 1.5rem;
}
.footer_row .chevron_pack {
    font-size: 0.7em;
    margin-left: 0;
    margin-right: 0.5rem;
}
.footer_row .chevron_pack .fas:nth-child(2) {
    color: darkgray;
}
.fb_icon, .instagram_icon {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    width: 40px;
    text-align: center;
}
.payment_icons {
    font-size: 1.6em;
}
.copyright_row {
    background-color: #eeeeee;
    padding: 1.5rem;
    border-top: 1px solid white;
}
.copyright_text {
    display: flex;
    justify-content: space-between;
}
.developed_text {
    text-align: right;
}


/* individual page activation css */

.package_stages .is_active {
    background-color: black;
}
.package_stage_icons .is_active {
    color: black;
}


/* mobile view */

@media only screen and (max-width: 992px) {
    .package_stages {
        flex-direction: column;
    }
    .package_stages .item_center {
        justify-content: center;
        transform: rotate(90deg);
        margin: 10px 0;
    }
    .trans_pacific_stage, .inter_asia_stage_one,
    .inter_asia_stage_two, .arrived_in_bangladesh {
        border-radius: 0;
    }
    .package_stage_icons {
        place-items: center;
        margin: 2rem 0;
    }
    .package_stage_icons img {
        max-width: 100%;
    }
    .ship_icon, .plane_icon {
        font-size: 2em;
        color: gray;
    }
    .chevron_pack {
        font-size: 1em;
    }
    .bangladesh_image {
        width: 30px;
    }
    .footer_row {
        padding: 1rem;
    }
    .copyright_row {
        padding: 1rem 0;
    }
    .copyright_text {
        flex-direction: column;
        place-items: center;
    }
    .developed_text {
        text-align: center;
    }
  }